---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Astro Actions Demo">
  <main>
    <p>Astro Actions Demo</p>
    <p>
      <a href="./subscribe.html">Subscribe Form</a>
    </p>
    <p>
      <a href="./post.html">Posts</a>
    </p>
  </main>
</Layout>
